.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  width: 70vw;
  line-height: 2em;
  font-weight: bold;
  font-size: 30px;
}


img {
  max-width: 40vw;
  margin-left: 12vw;
}

@media screen and (max-width: 768px) {
  .grid {
    font-size: 20px;
    width: 90vw;
  }

  img {
    margin-left: 2vw;
  }
}
